<form method="POST" action="login">
    <div class="form-group">
        <input id="fname" name="fname" type="text" class="validate" class="form-control" required>
        <label for="fname">First Name</label>
    </div>
    <div class="form-group">
        <input id="lname" name="lname" type="text" class="validate" class="form-control" required>
        <label for="lname">Last Name</label>
    </div>
    <div class="form-group">
        <input id="email" name="email" type="text" class="validate" class="form-control" required>
        <label for="email">Email</label>
    </div>
    <div class="form-group">
        <input id="username" name="username" type="text" class="validate" class="form-control" required>
        <label for="username">Username</label>
    </div>
    <div class="form-group">
        <input id="password" name="password" type="password" class="validate" class="form-control" required>
        <label for="password">Password</label>
    </div>
    <div class="form-group">
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
    </div>
        <button type="submit"  class="btn btn-default">register
        </button>
</form>